[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leegteru
	exclusiveGroupPermissions = push label-Verified labelAs-Code-Review
	read = group V8R1_Hobby_Projects
	push = group V8R1_Hobby_Projects
	label-Verified = -1..+1 group V8R1_Hobby_Projects
	labelAs-Code-Review = -2..+2 group V8R1_Hobby_Projects
	submit = group V8R1_Hobby_Projects
	submitAs = group V8R1_Hobby_Projects
[access "refs/for/refs/*"]
	read = group user/leegteru
	push = group user/leegteru
	label-Code-Review = -2..+2 group user/leegteru
	label-Verified = -1..+1 group user/leegteru
	rebase = group user/leegteru
	removeReviewer = group user/leegteru
	submit = group user/leegteru
[access "refs/heads/*"]
	read = group user/leegteru
	create = group user/leegteru
	push = +force group user/leegteru
	pushMerge = group user/leegteru
[access "refs/tags/*"]
	push = group user/leegteru
	push = +force group user/leegteru
[receive]
	rejectImplicitMerges = true
